{# templates/infirmier/sortie.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Sortie Patient{% endblock %}

{% block body %}
    <h1>Sortie Patient</h1>
    <button id="sortie">Valider</button>
{% endblock %}
